/dts-v1/;

#include "omap443x.dtsi"

/ {
    model = "Samsung Galaxy Tab 2";
    compatible = "samsung,espresso10", "ti,omap4430", "ti,omap4";

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x40000000>; /* 1 GB */
			};


	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		
		ramoops_region@A0000000 {
 			no-map;

			reg = <0xA0000000 0x200000>;

		};
		continuous_splash: framebuffer@bef00000{
			reg = <0xbef00000 (1024 * 600 * 4)>;
			no-map;
			};
		};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
	
		framebuffer0: framebuffer@bef00000 {
			compatible = "simple-framebuffer";
			reg = <0xbef00000 (1024 * 600 * 4)>;
			width = <1024>;
			height = <600>;
			stride = <(4096)>;
			format = "x8r8g8b8";
			status = "okay";			
			};
		};
};
